<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RFPConnectionString" connectionString="Data Source=140.127.22.24;Initial Catalog=RFP;User ID=Linro;Password=linro"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
